<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-center">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/upload-data/' %}active{% endif %}" href="{% url 'main:upload_data' %}">Upload Data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  