<head>
    <title> Search </title>
</head>
<body>
{% include 'includes/navbar.html' %}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12">
            <h1 class="text-center">
                <a href="{% url 'main:search' %}" style="color: inherit; text-decoration: none;">
                    Search Project
                </a>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 offset-md-3">
            <form method="GET" action="{% url 'main:search' %}">
                <div class="input-group mb-3">
                    {{ form.query }}
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search <i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>

    {% if dummy_data %}
    <div class="row">
        <div class="col-sm-6">
            <h5> Result </h5>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            {% if form.errors %}
            <ul>
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% elif dummy_data %}
            <p>{{ dummy_data }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% for q in forms_no %}
        <p>{{q.timestamp}} | {{q.query}}</p>
        {% endfor %}
    </div>

</div>
</body>
</html>